body {
  background-image: url("white-waves.png");
}

.form-rounded {
  border-radius: 1rem;
  }

.profile-pic {
  height: 90%;
  width: 90%;
}

/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #5b606b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #728286;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand.homeLogo.text-info{
  color: black !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.btn.btn-link.btn-sm{
  color: white;
}

.btn-group{
  justify-content: center !important; 
}

.text-info{
  color:darkgray !important;
}